<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sihtry1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PastRecProgressActivity"
            android:theme="@style/full_screen_dialog"
            android:label="Progress"></activity>
        <activity android:name=".FollowupInfoActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PastRecordsNrcActivity"
            android:label="Past Records"/>
        <activity android:name=".PastRecordInfoActivity"
            android:label="Past Record Information"/>
        <activity android:name=".DischangeInfoActivity"
            android:label="Discharge Information"/>
        <activity android:name=".RcrPastRecordsActivity"
            android:label="Past Records"/>
        <activity android:name=".NRCUpdateActivity"
            android:label="Update Profiles"/>
        <activity android:name=".RCRUpdateActivity"
            android:label="Update Information"/>
        <activity android:name=".FollowupChildActivity"
            android:label="Followup"/>
        <activity android:name=".FollowupsListActivity"
            android:label="Followups"/>
        <activity android:name=".ZScoreActivity"
            android:label="Test for Malnourishment"/>
        <activity android:name=".AdmittedChildProfileActivity"
            android:label="Admitted Child Profile"/>
        <activity android:name=".AdmittedChildrenActivity"
            android:label="Admitted Children"/>
        <activity
            android:name=".ChildProfileActivity"
            android:label="Child Profile" />
        <activity android:name=".UpdateReferralActivity"
            android:label="Update Profile"/>
        <activity android:name=".AgnUpdateReferralActivity"
            android:label="Update Information"/>
        <activity android:name=".CurrentReferralsActivity"
            android:label="Current Referrals"/>
        <activity android:name=".SendReferralActivity"
            android:label="Send Referral"/>
        <activity android:name=".NrcListActivity"
            android:label="Select NRC"/>
        <activity android:name=".StatesActivity"
            android:label="Select States"/>
        <activity android:name=".CreateReferralActivity"
            android:label="Create Referral"/>
        <activity android:name=".RCRRegisterActivity"
            android:label="Register Aaganwadi"/>
        <activity android:name=".RCRActivity" />
        <activity android:name=".NRCActivity" />
        <activity
            android:name=".VerificationDueActivity"
            android:label="Verification Due" />
        <activity
            android:name=".NRCRegisterActivity"
            android:label="NRC Registeration" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
    </application>

</manifest>